<article class="main-section">
  <header class="flex-item">
    <h1>
      Tricks
    </h1>
  </header>
  <p class="flex-item">
    While one isn't understend the root of it, one will new use it in a right way
  </p>
  <section class="flex-item">
    <header>
      <h3> So what the trick? </h3>
    </header>
    <p> Actually, there is no trick at all, it means, literally </p>
  </section>
  <ul class="flex-item main-list">
    <li class="list-sections">
      Just action, before another action
    </li>
    <li class="list-sections">
      Or verb 'have' has just common sense of belonging (experience, action, event)
    </li>
  </ul>
</article>
