<article class="main-section">
  <header class="flex-item">
    <h1>
      Why it's so importent?
    </h1>
  </header>
  <p class="flex-item">
    If we don't have present perfect we will suffer in the pain to explain
    current moments of our life
  </p>
  <p class="flex-item">
    I studied all night <b>vs</b> I have studied up to now
  </p>
  <p class="flex-item">
    I spilled my coffee <b>vs</b> I have spilled my coffee
  </p>
  <!-- <ul class="flex-item main-list">
    <li class="list-sections">
      Let's try to compare
      <ul>
        <li>I </li>
        <li>Change Over Time</li>
        <li>Accomplishments</li>
        <li>An Uncompleted Action You Are Expecting</li>
        <li>Multiple Actions at Different Times</li>
      </ul>
    </li>
    <li class="list-sections">
      Duration From the Past Until Now (Non-Continuous Verbs)
    </li>
  </ul> -->
</article>
