<article class="main-section">
  <header class="flex-item">
    <h1>
      Why it's so importent?
    </h1>
  </header>
  <p class="flex-item">
    If we don't have present perfect we will suffer in the pain to explain
    current moments of our life, e.g.
  </p>
  <p class="flex-item">
    He studied all night (before exams) <b>vs</b> He has studied up to now (And he is exosted)
  </p>
  <p class="flex-item">
    He spill his coffee <b>vs</b>
    He has spilled his coffee (at that moment)
  </p>
  <p class="flex-item">
    He didn't see the ocean ( becouse he moved to middle of continent) <b>vs</b>
     (at that moment)
  </p>
  <section class="flex-item">
  <header>
    <h3>So, as we can see, it can be usefull at some situations</h3>
  </header>
  <p>And we can't just skip it.
  </p>
  <p>
    We even have to use it from time to time, without any options.
  </p>
</section>

</article>
