<article class="main-section">
  <header class="flex-item">
    <h1>
      How to use it?
    </h1>
  </header>
  <p class="flex-item">
    It's pretty simple to coock it. We should use just common ingridients
  </p>
  <ul class="flex-item main-list">
    <li class="list-sections">
      Object
    </li>
    <li class="list-sections">
      have + action in v3
    </li>
    <li class="list-sections">
      Subject
    </li>
  </ul>
  <ul class="flex-item main-list">
    <li class="list-sections">
      Vasya
    </li>
    <li class="list-sections">
      has never seen
    </li>
    <li class="list-sections">
      the Ocean
    </li>
  </ul>
  <section class="flex-item">
    <header>
      <h3> So what the trick? </h3>
    </header>
    <p> Actually, the main trick in using it </p>
  </section>
</article>
