<section class="chat_container"
  #chat
  [scrollTop]="chat.scrollHeight"
>
  <section
    *ngFor = "let message of messages"
    class = "message_container {{ message.userId ? 'incoming' : 'outgoing' }}"
  >
    <section class="user">{{ message.userId }}</section>
    <section class="message">{{ message.message }}</section>
    <section class="created">{{ message.created  | date: 'dd/MM/yyyy HH:MM' }}</section>
  </section>
</section>

<md-input-container>
<input
  mdInput
  placeholder="Type message and press enter"
  #message
  (keyup.enter)="sendMessage(message.value)"
>
</md-input-container>
