:host {
  display: flex;
  flex-direction: column;
  border: 8px solid gray;
  background-color: black;
}

#canvasSection {
  flex: 1 100%;
  background-repeat: no-repeat;
  background-image: url(https://c1.staticflickr.com/3/2067/2222408080_ff67048264.jpg);
  background-size: contain;
}

md-input-container {
  background-color: white;
}

button {
  width: 3em;
  height: 6em;
  border-radius: 100%;
  margin: auto;
  margin: 1em 0;

}

.button-group {
  display: flex;
  justify-content: space-around;
}
