<section class='button-group'>
  <button md-raised-button #colorButton (click)="onChangeColor()">Color</button>
  <button md-raised-button (click)="togglePaintMode()">{{mode}}</button>
  <button md-raised-button (click)="onEraseAll()">Erase</button>
</section>

<md-input-container>
<input mdInput
   [formControl]="search"
   placeholder="Enter tag or image url"
   #imageInput
   />
</md-input-container>
<app-gallery [photos]="photos" (chosen)="onChose($event)"></app-gallery>
<canvas
  id="canvasSection"
  #canvasSection
  width="160"
  height="430"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseLeave($event)"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchcancel)="onTouchEnd($event)"
  (touchend)="onTouchEnd($event)"
  (window:resize)="resizeCanvas()"
  >
</canvas>
<app-chat></app-chat>
