:host {
  display: flex;
  border: 4px solid gray;
}

#canvasSection {
  flex: 1 100%;
  background-repeat: no-repeat;
  background-image: url(https://c1.staticflickr.com/3/2067/2222408080_ff67048264.jpg);
  background-size: contain;
}
